<div class="container">
    <div class="footer pull-right">
        This site is based on <a href="https://github.com/mattmakai">Matt Makai</a>'s project <a href="https://github.com/mattmakai/fullstackpython.com">Full Stack Python</a>, thanks for his excellent work!
    </div>
</div>
<div class="container">
    <div class="footer pull-right" style="text-align:right; font-size:85%;">
        <p>此网站由 <a href="https://github.com/haiiiiiyun">@haiiiiiyun</a> 和 <a href="https://github.com/haiiiiiyun/fullstackpython.cn/graphs/contributors">开源爱好者们</a> 共同维护。
          若发现错误或想贡献，请访问： <a href="https://github.com/haiiiiiyun/fullstackpython.cn/">Github fullstackpython.cn 项目</a>
        </p>
    </div>
</div>
