<div class="container">
    <div class="footer pull-right">
        <a href="http://www.fullstackpython.com/">Original Version(English) </a>By
        <a href="http://www.mattmakai.com/" class="underline">Matt Makai</a>
        2016
    </div>
</div>
<div class="container">
    <div class="footer pull-right" style="text-align:right; font-size:85%;">
        <p>此网站由 <a href="https://github.com/haiiiiiyun">@haiiiiiyun</a> 维护，由
          <a href="https://github.com/haiiiiiyun/fullstackpython.cn/graphs/contributors">开源爱好者们</a> 共同翻译。
          若发现错误或想贡献翻译，请访问： <a href="https://github.com/haiiiiiyun/fullstackpython.cn/">Github fullstackpython.cn 项目</a>
        </p>
    </div>
</div>
