{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Full Stack Python 用朴实的语言解译编程理念并提供一份包含相关主题最好教程的链接。">
{% endblock %}

{% block banner %}
{% endblock %}

{% block forkme %}
<a href="https://github.com/haiiiiiyun/fullstackpython.cn" id="forkme"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/fork.png" alt="Fork me on GitHub"></a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for page in pages|sort(attribute='sortorder') %}
          {% if page.slug == 'introduction' %}
              {{ page.content }}
              <p>本指南的各项主题内容将相对独立设置，因为你的学习需求会由你的当前工作决定。
                 选择下面的一个主题按钮或查看整个
                 <a href="/table-of-contents.html">目录</a>. 
              </p>
              <h3>创建应用需要学习哪些知识？</h3>
              {% include "choices/index.html" %}
          {% endif %}
        {% endfor %}
    </div>
    {% include "index-sidebar.html" %}
</div>
{% endblock %}
