<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">赞助商</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">如果你要找一本循序渐进的 Python Web 开发教程，我推荐你
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage'); return false;">看看 Real Python</a>.
    </p>
  </div>
</div>
