<div class="col-md-offset-1 col-md-3" id="sidebar">
  {% if page %}
  {% include "sponsor.html" %}
  {% include "email-for-book-sidebar.html" %}
  {% if not page.slug == "about-author" %}
    {% include "full-toc.html" %}
  {% endif %}
  {% endif %}
  <div class="panel">
    {% if page and page.slug == "about-author" %}
      <div class="panel-heading"><h3 class="panel-head">更新</h3></div>
    {% else %}
      <div class="panel-heading"><h3 class="panel-head">{% for p in pages|sort(attribute='sortorder') %}{% if page and p.slug == page.slug %}{{ p.title }}{% endif %}{% endfor %}{% if not page %}Full Stack Python{% endif %}</h3></div>
    {% endif %}
      <div class="panel-body">
          {% if not page %}
          如果你要查找一个特定主题请查看本
          <a href="/table-of-contents.html">目录</a>。
          <hr/>
          {% endif %}
          重要的更新内容会通过 Twitter 账号<a href="https://twitter.com/fullstackpython">@fullstackpython</a>发布。
          <hr/>
          需要更加详细的教程吗？请看
          <a href="http://www.deploypython.com/">《The Full Stack Python Guide to Deployments》。</a>
          {% if not page %}
          <hr/>
          <a href="/">Full Stack Python</a> 是一本开源图书，它用朴实的语言阐释概念并提供相关主题的最有用资源。
          {% endif %}
      </div>
  </div>
  {% if page %}
    {% include "mobile-toc.html" %}
  {% endif %}
</div>
