<div class="col-md-offset-1 col-md-2" id="sidebar">
  <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-head">Full Stack Python</h3>
      </div>
      <div class="panel-body">
          如果你要查找一个特定主题请查看本
          <a href="/table-of-contents.html">目录</a>。
          <hr/>
          重要的更新内容会通过 Twitter 账号<a href="https://twitter.com/fullstackpython">@fullstackpython</a>发布。
          <hr/>
          需要更加详细的教程吗？请看
          <a href="http://www.deploypython.com/">《The Full Stack Python Guide to Deployments》。</a>
          <hr/>
          <a href="/">Full Stack Python</a> 是一本开源图书，它用朴实的语言阐释概念并提供相关主题的最有用资源。
      </div>
  </div>
</div>
