<div class="col-md-offset-1 col-md-3" id="sidebar">
  <div class="panel">
      <div class="panel-heading"><h3 class="panel-head">{% for p in pages|sort(attribute='sortorder') %}{% if page and p.slug == page.slug %}{{ p.title }}{% endif %}{% endfor %}{% if not page %}Full Stack Python{% endif %}</h3></div>
      <div class="panel-body">
          <a href="/">Full Stack Python</a> 是一本开源图书，它用朴实的语言阐
    释概念并提供相关主题的最有用资源。 
          <hr/>
          想要看更多详细教程吗？
          <a href="http://www.deploypython.com/">请看《The Full Stack Python Guide to Deployments》。</a>
      </div>
  </div>
</div>
