{% if page.title == 'Django' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">赞助商</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">如果你要找一本循序渐进的 Django 教程，我推荐你
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django'); return false;">看看 Real Python</a>.
    </p>
  </div>
</div>
{% elif page.title == 'Flask' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">赞助商</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">如果你要找一本循序渐进的 Flask 教程，我推荐你 
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask'); return false;">看看 Real Python</a>.
    </p>
  </div>
</div>
{% elif page.title == 'Best Python Resources' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">赞助商</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">如果你想学习 Python 我，推荐你
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources'); return false;">看看 Real Python</a>上的内容。
    </p>
  </div>
</div>
{% elif page.title == 'Web Frameworks' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">赞助商</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks'); return false;"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">如果你想学习 Python Web 开发，我推荐你
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks'); return false;">看看 Real Python</a>上的内容。
    </p>
  </div>
</div>
{% elif page.title == 'Introduction' %}
    {% include "rp-advert.html" %}
{% else %}
    {% include "fsp-guide-advert.html" %}
{% endif %}
