<h3>现在你的开发环境已经设置好了，那接下来呢？</h3>
<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/vim.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/web-frameworks.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/data.html" %}
        </div>
    </div>
</div>
