<h3>你想了解框架的更多知识还是要学习部署的知识？</h3>
<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/web-frameworks.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/application-programming-interfaces.html" %}
        </div>
    </div>
</div>
