<h3>想了解框架的更多知识，或者不同的主题？</h3>
<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/django.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/cascading-style-sheets.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/other-web-frameworks.html" %}
        </div>
    </div>
</div>
