<h3>继续进行服务器设置或者尝试使用 PaaS 方案部署？</h3>
<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/operating-systems.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/web-servers.html" %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            {% include "choices/buttons/platform-as-a-service.html" %}
        </div>
    </div>
</div>
